* {
  background-color: #282a36;
  color: #f8f8f2;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio,
#battery,
#custom-power {
  margin: 0 6px;
}


#tray {
  margin-right: 16px;
}

#clock {
  margin-left: 8px;
}

tooltip {
  padding: 4px;
}
