* {
font-family: JetBrains Mono, sans-serif;
font-size: 25px;
}


window {
    margin: 0px;
    padding: 8px;

    border: 2px solid #6272a4;
    border-radius: 14px;

    background-color: rgba(40, 42, 54, 0.80);
}

#input {
margin: 6px;
padding: 8px 12px;

border: none;
border-radius: 10px;

color: #f8f8f2;

background-color: rgba(68, 71, 90, 0.85);
}

#inner-box {
margin: 4px;
border: none;
background-color: transparent;
}

#outer-box {
border: none;
background-color: transparent;
}

#scroll {
border: none;
}

#entry {
padding: 8px 12px;
margin: 3px 6px;

border-radius: 10px;

background-color: transparent;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: rgba(98, 114, 164, 0.60);
}

#entry:selected #text {
font-weight: bold;
color: #ffffff;
}

#text {
color: #f8f8f2;
}
